@import url(https://fonts.googleapis.com/css?family=DM+Sans:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,700);

html {
  scroll-behavior: smooth;
  scroll-padding-top: 27px;
  background: var(--accent);
}

body {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--text-color);
  background: var(--page-bg);
  -webkit-tap-highlight-color: transparent;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.section {
  flex-grow: 1;
  padding-top: clamp(2.188rem, 1.847rem + 1.7vw, 3.125rem);
  padding-bottom: clamp(2.188rem, 1.392rem + 3.98vw, 4.375rem);
  overflow-x: hidden;
}

.title-1 {
  font-size: clamp(2.5rem, 2.136rem + 1.82vw, 3.5rem);
  font-weight: 700;
  color: var(--accent);
  margin-bottom: clamp(1.563rem, 1.222rem + 1.7vw, 2.5rem);
  text-align: center;
}

.title-2 {
  font-size: clamp(1.5rem, 1.136rem + 1.82vw, 2.5rem);
  font-weight: 700;
  margin-bottom: clamp(0.625rem, 0.398rem + 1.14vw, 1.25rem);
}