.progressbar {
  width: clamp(7.5rem, 6.136rem + 6.82vw, 11.25rem);
  min-height: clamp(7.5rem, 7.045rem + 2.27vw, 8.75rem);
  display: flex;
  gap: 15px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &-js {
    @include mediaIntermediate {
      grid-column: span 2/3;
    }

    @include mediaMobileXl {
      grid-column: 1;
    }
  }

  &__circle {
    width: 100px;
    height: 100px;
    position: relative;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mediaIntermediate {
      width: 75px;
      height: 75px;
    }

    &::before {
      content: "";
      position: absolute;
      width: 85px;
      height: 85px;
      border-radius: 50%;
      background-color: var(--progressbar-face);

      @include mediaIntermediate {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__value {
    position: relative;
    font-size: clamp(0.875rem, 0.739rem + 0.68vw, 1.25rem);
    font-weight: 700;
  }

  &__text {
    font-size: clamp(0.75rem, 0.614rem + 0.68vw, 1.125rem);
    font-weight: 500;
  }
}